###############################################################################
# Example configuration
###############################################################################

EXOMISER_DIR="/software/exomiser"

LIRICAL_DIR="/software/lirical"

LIRICAL_DB="/references/exomiser-hg38.mv.db"

REFGENE_FILE="/references/refGene_hg38_chrOK.txt"

GENOMES_DIR="/data/genomes"

RESULTS_DIR="./results"

LOG_DIR="./logs"

DEFAULT_EXOMISER_PROFILE="q200_mvp_af005"

DEFAULT_LIRICAL_PROFILE="af005"

DEFAULT_COMBINED_FILTER="true"
